<!doctype html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atividade</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }
    </style>
</head>
<body>
    <h1> Escolha uma opção para fazer login: </h1>
    <button> <a href="http://127.0.0.1:5000/loginmedico">Médico</a></button>
    <button> <a href="http://127.0.0.1:5000/loginpaciente">Paciente</a></button>

    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            <ul>
            {% for category, message in messages %}
                <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    {% if session.username %}
    {% else %}
        <a href="{{ url_for('login') }}">Login</a>
    {% endif %}
</body>
</html>
